.toBuyContainer {
    width: 100%;
    height: 100%;
    display: flex;
}
.toBuyCardContainer {
    display: flex;
    background-color: rgb(25,25,25);
    margin:auto;
    border-radius: 10px;
    color: white;
    font-family: 'Public Sans', sans-serif;
    padding:1rem;
    gap: clamp(0.8rem, 2rem, 3rem);
    flex-wrap: wrap;
    background-color: rgb(25,25,25);
    border-top: 1px solid crimson;
    box-shadow: 1px 1px 15px crimson;
}
input[type="radio"] {
    accent-color: crimson;
    background: rgb(25,25,25);
}
.toBuyContainer a {
    color:gray;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.toBuyCardContainer h2 {
    font-size: 1.2rem;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.infoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .7rem;
}
.info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.toBuyCardContainer input {
   border: 1px solid gray;
   outline: none;
   background-color: inherit;
   border-radius: .25rem;
   padding:.5rem;
   font-family: "Public Sans", sans-serif;
   color:white;
}
.checkoutTitle {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    margin-block: 10px;
}
.personInfoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .7rem;
}
.personInfo {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.paymentMethods {
    display: flex;
    flex-direction: column;
    margin-block: 2rem;
    row-gap: 1rem;
}
.pageTwoSummaryContainer {
    display: flex;
    flex-direction: column;
}
.pageTwoSummary {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.pageTwoCouponContainer {
    display: flex;
    column-gap: 5px;
}
.toBuyPageTwo {
    padding-top: .8rem;

}
.toBuyPageTwo button {
    border:none;
    border-radius: .25rem;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    padding-block: .8rem;
    width: 100%;
    cursor: pointer;
    background: rgb(30,30,30);
    color:white;
    transition: opacity 300ms;
}
.toBuyPageTwo button:hover {
   opacity:0.8;
}
@media screen and (max-width: 716px) {
.toBuyPageOne {
    width: 100%;
 }
.toBuyCardContainer {
    border-radius: 0;
    min-height: 100%;
 }
 .toBuyPageTwo {
    width: 100%;
 }
 html {
    font-size: 14px;
 }
}