#container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Public Sans, sans-serif;
  padding: 0.7rem 1.3rem;
}
#details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.test {
  animation: test 1s ease forwards;
}
.icon {
  position: absolute;
}
@keyframes test {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
