.container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.innerContainer {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin:auto;
  overflow-x: hidden;
}
.sent {
  background-color: crimson;
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  animation: sentAnim 2s ease-in-out forwards;
  display: none;
}

@keyframes sentAnim {
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) translateX(100px);
  }
}
.sectionOne {
  display: flex;
  flex-direction: column;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: clamp(22px, 2vw, 30px);
  flex-grow: 1;
  justify-content: center;

}
.sectionOne h1, span {
  margin:3px;
  animation: fromLeft 0.5s ease forwards;
  transform: translateX(-500px);
}
@keyframes fromLeft {
  to {
    transform: translateX(0);
  }
}
.sectionTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 3;
  gap: 6px;
  animation: fromLeft 1s ease forwards;
  transform: translateX(500px);
}
.sectionTwo button {
  all:unset;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  font-family:monospace;
  margin-left:auto;
}
.sectionTwo input {
  all: unset;
  border-bottom: 1px solid gray;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background:inherit;
  color:white;
  padding:20px;
}
.sectionTwo input::placeholder {
  color:gray;
}
.sectionOne h1:nth-child(2) {
  color:transparent;
  -webkit-text-stroke: 2px white;
}
@keyframes fromLeft {
  to {
    transform: translateX(0);
  }
}
@media screen and (max-width: 857px) {
.innerContainer {
  flex-direction: column;
}
.sectionOne {
  justify-content: center;
  align-items: center;
}
}