#container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  user-select: none;
  align-items: center;
  position: relative;
  color: white;
  justify-content: center;
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 40px;
  margin-top: 2px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.linksContainer li {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.linksContainer li {
  --border-right: 3px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 1.3em;
  
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
.linksContainer {
 gap: 10px; 
}
.linksContainer li span:nth-child(2) {
  position: absolute;
  box-sizing: border-box;
  color: var(--animation-color);
  width: 0%;
  left: -10px;
  top: -3px;

  overflow: hidden;
  transition: width 0.5s ease;
  -webkit-text-stroke: 1px var(--animation-color);
}

.linksContainer li:hover span:nth-child(2) {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

#header img {
  width: 100px;
  height: 100px;
}
#menu {
  display: flex;
  flex-direction: column;
}
.cartContainer {
  animation: appear 1s ease-out both;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
#header h2 {
  margin: 0;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
h2 {
  margin-left: 2rem;
}
li {
  margin-inline: 1rem;
}
li a {
  color: white;
  text-decoration: none;
}
#burgerContainer {
  display: none;
  position: absolute;
  right: 2rem;
  top: 2rem;
}
#burger {
  cursor: pointer;
}
#burgerContent {
  flex-direction: column;
  background: rgb(25,25,25);
  border-radius: 5px;
  padding: 2rem;
  z-index: 100;
  width: 100%;
  display: flex;
  animation: slideIn 0.5s ease forwards;
  opacity: 0;
  transform: translateX(100%);
  overflow: hidden;
  position: relative;
}
#burgerContent div * {
  text-decoration: none;
  color: white;
}
.burgerClose {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 50px;
  padding: 5px;
  border: 1px solid gray;
  cursor: pointer;
}
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
#burgerContent div {
  text-decoration: none;
}
.cartLength {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}
#menuContent span:hover {
  color: dodgerblue;
}
@media screen and (max-width: 830px) {
  ul {
    display: none;
  }
  #burgerContainer {
    display: flex;
  }
  #header {
    opacity: 0;
  }
  #container {
    justify-content: space-between;
    width: 100%;
    position: static;
  }
}
