#container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  user-select: none;
  align-items: center;
  position: relative;
  background-color: transparent;
  color: white;
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 40px;
  margin-top: 2px;
  background: hsla(0, 0%, 6%, 1);
  background: linear-gradient(90deg, hsla(0, 0%, 6%, 1) 0%, hsla(240, 8%, 33%, 1) 52%, hsla(240, 3%, 85%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(0, 0%, 6%, 1) 0%, hsla(240, 8%, 33%, 1) 52%, hsla(240, 3%, 85%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(0, 0%, 6%, 1) 0%, hsla(240, 8%, 33%, 1) 52%, hsla(240, 3%, 85%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#101010", endColorstr="#4E4E5B", GradientType=1 );
}
#header h2 {
  margin: 0;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
h2 {
  margin-left: 2rem;
}
li {
  margin-inline: 1rem;
}
li a {
  color: white;
  text-decoration: none;
}
#burger {
  margin-right: 1rem;
}
#menu {
  display: none;
  padding-right: 5px;
}
#menuContent {
  position: absolute;
  background-color: black;
  top: 3rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-radius: 0.25rem;
  row-gap: 10px;
  z-index: 5;
}
#menuContent span {
  color: white;
  cursor: pointer;
}
.cartLength {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}
#menuContent span:hover {
  color: dodgerblue;
}
@media screen and (max-width: 830px) {
  ul {
    display: none;
  }
  #menu {
    display: flex;
  }
  #header {
    opacity: 0;
  }
  #container {
    justify-content: space-between;
    width: 100%;
  }
}
