@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap");

body,
html,
#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url("./images/website_background.png");
  box-sizing: border-box;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: repeat;
}

.main-font {
  font-family: "Mooli", sans-serif;
}
.hoverable {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.primary-btn {
  background: transparent;
  width: fit-content;
  padding: 0.65rem 2rem;
  border: 1px solid white;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.primary-btn:hover {
  background-color: #ccc;
}
.fade {
  animation: fade 0.7s ease;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.boxShadowY {
  -webkit-box-shadow: 0px 9px 6px -4px rgba(153, 153, 153, 1);
  -moz-box-shadow: 0px 9px 6px -4px rgba(153, 153, 153, 1);
  box-shadow: 0px 9px 6px -4px rgba(153, 153, 153, 1);
}
.link {
  text-decoration: none;
  color: dodgerblue;
}
html {
  font-size: 14px;
}
.error {
  color: white;
  user-select: none;
  width: fit-content;
  padding: 10px 7px;
  border-top-right-radius: 0.5rem;
  display: flex;
  align-items: center;
  column-gap: 10px;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}
.error-exit {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.sans {
  font-family: "Public Sans", sans-serif;
}
.drop-animation {
  animation: drop 1s ease forwards;
}
.input {
  border: none;
  outline: none;
  padding: 15px 7px;
  font-family: "Mooli", sans-serif;
  border: 1px solid gray;
  border-radius: 0.25rem;
  color: white;
}
.input:focus {
  border: 1px solid crimson;
}
@keyframes drop {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(0);
  }
}
.flex {
  display: flex;
}
.gapY {
  column-gap: 7px;
}
.centerX {
  justify-content: center;
}
.centerY {
  align-items: center;
}
.flexCol {
  flex-direction: column;
}
.m-10 {
  margin: 10px;
}
